streamlit==1.37.1
langchain==0.2.17
langchain-community==0.2.19
langchain-core==0.2.43
langchain-groq==0.1.10
validators==0.28.1
youtube-transcript-api
unstructured
beautifulsoup4
lxml
pytube
python-dotenv
